* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.html {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


.head {
    width: 80%;
    margin-inline: auto;
    text-align: right;
    color: white;
    /* border: 1px solid red; */
}

h1 {
    font-size: 50px;
}

.text3 {
    font-size: 14px;
}
.detail {
    color: white;
}

.bar{
    width: 330px;
    height: 20px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px rgb(112, 112, 112);

}

.bar1 {
    width: 75%;
    height: 20px;
    background-color: lightblue;
}
.bar2 {
    width: 25%;
    height: 20px;
    background-color: white;
}

.percent {
    /* border: 1px solid red; */
    width: 330px;
    display: inline-flex;
    justify-content: space-between;
}

.text3 {
    color: white;
    margin-top: 5px;
}
.foot {
    width: 80%;
    margin-inline: auto;
    color: rgba(141, 140, 140,0.5);
    border-top: 1px solid rgba(141, 140, 140,0.5);
    /* border: 1px solid red; */
}
.logo img {
    width: 50px;
    margin: 7px;
    padding: 3px;
    border: 2px solid white;
    border-radius: 50%;
}

.notify {
    margin-inline: auto;
    /* border: 1px solid red; */

}
button {
    width: 120px;
    height: 30px;
    background-color: rgba(121, 213, 249, 0.87);
    padding: 5px;
    border: 0px;
}